/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* Starting Project Styling */
:root {
  --color-white: #f0f0f0;
  --color-blue-900: #0C0F20;
  --color-gray-300: rgba(121, 121, 121, 0.2);
  --color-gray-100: rgb(117, 117, 117);
}

body {
  background-image: url('../img/night.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--color-blue-900);
  color: var(--color-white);
}

.flex {
  display: flex;
}

.jc-space-between {
  justify-content: space-between;
}

.flex-direction-column {
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.align-center {
  align-items: center;
}


.search-input-wrapper__btns {
  gap: .5rem;
}

.search-container__search-input-wrapper {
  background-color: var(--color-gray-300);
  border-radius: .2rem;
  padding: .5rem .8rem;
}

.search-container {
  flex-basis: 25%;
}

.header__header-container {
  background-color: var(--color-blue-900);
  padding: .3rem .4rem .3rem .8rem;

}

.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.navbar-container__navbar {
  list-style-type: none;
}

.navbar__navbar-item>i {
  margin-right: 1rem;
  cursor: pointer;
}

.search-input-wrapper__search-input {
  border: 0;
  background-color: transparent;
  outline: 0;
  color: var(--color-white);
  flex-basis: 80%;
}

.btns__grant-perm {
  border: 0;
  background-color: transparent;
  color: var(--color-white);
}

.btns__search-label,
.btns__grant-perm {
  cursor: pointer;
}

input::placeholder,
input,
button {
  font-family: var(--font-family-body);
}

.search-input-wrapper__search-input::placeholder {
  color: var(--color-gray-100);
}

.temp {
  font-weight: 100;
}

.main__main-container {
  padding: 1.5rem 2.5rem;
}

.temp-container__temp-units>span {
  cursor: pointer;
}

.temp-unit,
.temps__min-temp {
  color: var(--color-gray-100);
}

.active-text {
  color: var(--color-white);
}

.weather-descs__weather-state {
  margin-bottom: 1.5rem;
}

.other-descs__other-descs-row {
  gap: 1.8rem;
}

.other-descs__other-descs-row:not(:last-child) {
  margin-bottom: .7rem;
}


.weather-forecasts-wrapper__forecast.active {
  background-color: var(--color-gray-300);
}

.weather-forecasts-wrapper__forecast.active::after {
  content: '';
  background-color: var(--color-gray-300);
  width: 2rem;
  height: 2rem;
  position: absolute;
  bottom: -16px;
  right: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  clip-path: polygon(50% 50%, 100% 50%, 50% 100%, 0 50%);
}

.weather-forecasts-wrapper__forecast {
  position: relative;
  padding: .3rem 0 1.7rem .5rem;
  border-radius: .2rem;
  cursor: pointer;
  width: calc(100% / 9);
}

.weather-forecasts__weather-forecasts-wrapper {
  gap: .5rem;
  margin: 2rem 0;
}

.forecast__temps {
  gap: .3rem;
  align-items: flex-end;
  margin: .6rem 0;
}

.forecast__img {
  max-width: 2.5rem;
  max-height: 2.5rem;
  margin-top: .6rem;
}

.weather-hourly__title {
  padding-bottom: .5rem;
  border-bottom: 1px solid var(--color-gray-100);
  margin-bottom: 1.5rem;
}


.main-container__weather-hourly {
  max-width: 50rem;
  margin: 0 auto;
}